.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}  
  
.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}  

button {
  background-color: #80B1F2;
  border-color: darkblue;
  border-style: dotted;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.remove {
  background-color: lightcoral;
  border-color: lightcoral;
  border-style: solid;
}

.blogStyle {
  background-color: #C6F8FB;
  border-style: dotted;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}